.WeatherForecast {
    text-align: center;
    margin-top: 15px;
}

.weatherForecast-temp-max {
    color: black;
}

.weatherForecast-temp-min {
    color: #878787;
    margin-left: 4px;
}

.weatherForecast-day {
    color: #0d6efd;
    margin-bottom: 5px;
    font-weight: 600;
    font-family: cursive;
}